<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>  

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength='52428800' targetFramework="4.5" />
      <pages masterPageFile="~/BaseMaster.Master" clientIDMode="Static">
      <controls>
        <add tagPrefix="kuujinbo" namespace="kuujinbo.asp.net.WebForms.controls" assembly="kuujinbo.asp.net.WebForms" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
<!--
  custom server control configuration =>  ~/bin/kuujinbo.asp.net.WebForms.dll
-->
    <add key="TextareaJavaScriptPath" value="/Scripts/jquery.charcounter.js"/>
    <add key="DateBoxJavaScriptPath" value="/Scripts/jquery-ui/jquery-ui.js"/>
    <add key="DateBoxCssPath" value="/Scripts/jquery-ui/jquery-ui.css"/>
  </appSettings>
</configuration>